In [ ]:
#  Write the SQL queries :

  Table 1

In [1]:
import sqlite3

In [3]:
db=sqlite3.connect('TABLE_1_database.db')

In [4]:
cursor=db.cursor()

In [5]:
cursor.execute("create table TABLE_1(ShoeName text,Category text,no of colors text,price int)")

In [7]:
with open('TABLE_1.csv','r') as file:
    total_records=0
    for row in file:
        cursor.execute("insert into Table_1 values(?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted')

25 Records inserted

In [8]:
result=cursor.execute("select * from Table_1")
for row in result:
    print( row)

('ShoeName', 'Category(Men/Women)', 'no of colors', 'priceÂ\xa0Â\xa0\n')
('Nike', 'men', '4', 1999)
('adidas', 'women', '5', 2999)
('pump', 'women', '8', 1599)
('skechers', 'women', '3', 2199)
('columbia', 'men', '7', 1999)
('woodland', 'men', '2', 3999)
('Nike', 'men', '9', 1599)
('adidas', 'men', '9', 1699)
('pump', 'men', '3', 3000)
('skechers', 'women', '4', 2999)
('columbia', 'women', '7', 1399)
('woodland', 'women', '2', 1499)
('Nike', 'men', '8', 1599)
('adidas', 'men', '9', 299)
('pump', 'men', '5', 1999)
('skechers', 'men', '2', 1899)
('columbia', 'men', '7', 1399)
('woodland', 'women', '8', 2499)
('Nike', 'men', '2', 3999)
('adidas', 'women', '9', 1499)
('pump', 'men', '4', 2999)
('skechers', 'women', '5', 1499)
('columbia', 'men', '6', 2399)
('woodland', 'men', '2', 2199)

In [28]:
result=cursor.execute("select Category,price from Table_1")
result.fetchall()

[('Category(Men/Women)', 'priceÂ\xa0Â\xa0\n'),
 ('men', 1999),
 ('women', 2999),
 ('women', 1599),
 ('women', 2199),
 ('men', 1999),
 ('men', 3999),
 ('men', 1599),
 ('men', 1699),
 ('men', 3000),
 ('women', 2999),
 ('women', 1399),
 ('women', 1499),
 ('men', 1599),
 ('men', 299),
 ('men', 1999),
 ('men', 1899),
 ('men', 1399),
 ('women', 2499),
 ('men', 3999),
 ('women', 1499),
 ('men', 2999),
 ('women', 1499),
 ('men', 2399),
 ('men', 2199)]

In [17]:
result=cursor.execute("select no of colors from Table_1")
for row in result:
    print( row)

OperationalError: near "colors": syntax error

In [14]:
result=cursor.execute("select max(price) from Table_1")
for row in result:
    print( row)

('priceÂ\xa0Â\xa0\n',)

In [25]:
result=cursor.execute("select Category like '_____',min(price) from Table_1")
for row in result:
    print( row)

(0, 299)

In [30]:
result=cursor.execute("select Category like 'm%',price from Table_1")
result.fetchall()

[(0, 'priceÂ\xa0Â\xa0\n'),
 (1, 1999),
 (0, 2999),
 (0, 1599),
 (0, 2199),
 (1, 1999),
 (1, 3999),
 (1, 1599),
 (1, 1699),
 (1, 3000),
 (0, 2999),
 (0, 1399),
 (0, 1499),
 (1, 1599),
 (1, 299),
 (1, 1999),
 (1, 1899),
 (1, 1399),
 (0, 2499),
 (1, 3999),
 (0, 1499),
 (1, 2999),
 (0, 1499),
 (1, 2399),
 (1, 2199)]

In [31]:
# Table 2

In [83]:
import sqlite3

In [84]:
db=sqlite3.connect('table_2_database.db')

In [85]:
cursor=db.cursor()

In [86]:
cursor.execute("create table table_2(count_of_sizes int, colors1 text, color2 text , color3 text ,color4 text, color5 text, Style_code text)")

OperationalError: table table_2 already exists

In [88]:
with open('table_2.csv','r') as file:
    total_records=0
    for row in file:
        cursor.execute("insert into TABLE_2 values(?,?,?,?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted')

7 Records inserted

In [89]:
result=cursor.execute("select * from table_2")
for row in result:
    print( row)

('count_of_sizes', ' colors1', ' color2', ' color3 ', 'color4', ' color5', ' Style_code  \n')
(7, 'black', 'grey', 'white', 'brown', 'red', 'Casual\n')
(8, 'white', 'brown', 'red', 'black', 'white', 'formal\n')
(9, 'grey', 'black', 'white', 'brown', 'red', 'sport\n')
(8, 'brown', 'red', 'black', 'white', 'red', 'sheaker\n')
(9, 'white', 'brown', 'red', 'red', 'blue', 'casual\n')
(7, 'brown', 'red', 'black', 'blue', 'brown', 'sport')

In [90]:
result=cursor.execute("select count_of_sizes from table_2")
for row in result:
    print( row)

('count_of_sizes',)
(7,)
(8,)
(9,)
(8,)
(9,)
(7,)

In [92]:
result=cursor.execute("select Style_code,colors1,color2,color3,color4,color5 from table_2")
for row in result:
    print( row)

(' Style_code  \n', ' colors1', ' color2', ' color3 ', 'color4', ' color5')
('Casual\n', 'black', 'grey', 'white', 'brown', 'red')
('formal\n', 'white', 'brown', 'red', 'black', 'white')
('sport\n', 'grey', 'black', 'white', 'brown', 'red')
('sheaker\n', 'brown', 'red', 'black', 'white', 'red')
('casual\n', 'white', 'brown', 'red', 'red', 'blue')
('sport', 'brown', 'red', 'black', 'blue', 'brown')

In [93]:
result=cursor.execute("select Style_code,colors1,color2,color3 from table_2")
for row in result:
    print( row)

(' Style_code  \n', ' colors1', ' color2', ' color3 ')
('Casual\n', 'black', 'grey', 'white')
('formal\n', 'white', 'brown', 'red')
('sport\n', 'grey', 'black', 'white')
('sheaker\n', 'brown', 'red', 'black')
('casual\n', 'white', 'brown', 'red')
('sport', 'brown', 'red', 'black')

In [94]:
result=cursor.execute("select count_of_sizes,colors1,color2,color3,color4,color5 from table_2")
for row in result:
    print( row)

('count_of_sizes', ' colors1', ' color2', ' color3 ', 'color4', ' color5')
(7, 'black', 'grey', 'white', 'brown', 'red')
(8, 'white', 'brown', 'red', 'black', 'white')
(9, 'grey', 'black', 'white', 'brown', 'red')
(8, 'brown', 'red', 'black', 'white', 'red')
(9, 'white', 'brown', 'red', 'red', 'blue')
(7, 'brown', 'red', 'black', 'blue', 'brown')

In [95]:
esult=cursor.execute("select Style_code,colors1 from table_2")
for row in result:
    print( row)

(' Style_code  \n', ' colors1')
('Casual\n', 'black')
('formal\n', 'white')
('sport\n', 'grey')
('sheaker\n', 'brown')
('casual\n', 'white')
('sport', 'brown')

In [96]:
# Table 3

In [100]:
import sqlite3

In [101]:
db=sqlite3.connect('table_3_database.db')

In [102]:
cursor=db.cursor()

In [103]:
cursor.execute("create table table_3(reviews int, Size int, comfort text,quality text, star_rating int)")

In [105]:
with open('table_3.csv','r') as file:
    total_records=0
    for row in file:
        cursor.execute("insert into table_3 values(?,?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,'Records inserted')

6 Records inserted

In [106]:
result=cursor.execute("select * from table_3")
for row in result:
    print( row)

('reviews', ' Size', ' comfort', 'quality', ' star_rating\n')
(141, 8, 'best', 'good', 5)
(201, 9, 'wonderful', 'nice', 4)
(45, 7, 'fantastic', 'good', 3)
(99, 8, 'best', 'nice', 4)
(191, 9, 'wonderful', 'good', 5)

In [108]:
result=cursor.execute("select avg(star_rating), reviews from table_3")
for row in result:
    print( row)

(3.5, 'reviews')

In [110]:
result=cursor.execute("select max (star_rating) from table_3")
for row in result:
    print( row)

(' star_rating\n',)

In [111]:
result=cursor.execute("select count(reviews) from table_3")
for row in result:
    print( row)

(6,)

In [112]:
result=cursor.execute("select quality,reviews from table_3")
for row in result:
    print( row)

('quality', 'reviews')
('good', 141)
('nice', 201)
('good', 45)
('nice', 99)
('good', 191)

In [115]:
result=cursor.execute("select avg(star_rating) from table_3 where Size")
for row in result:
    print( row)

(4.2,)